body, html {
    width:100%;
    height:100%
}
*{
	margin:0;
	padding:0;
}
body {
    background:url(../images/bei.png) no-repeat;
    background-size:cover
}

.footer, .title {
    text-align:center;
    font-size: 24px;
    margin-top: 58px;
}
.footer {
    border-top:1px solid #333;
    width:1200px;
    margin:0 auto;
    margin-top:10px
}
.footer p {
    font-size:12px;
    line-height:21px;
    margin:0
}
.content {
  width:957px;
height:426px;
background:rgba(255,255,255,1);
border-radius:10px;
    margin: 39px auto;
}
.tab1 {
    display:-ms-flexbox;
    display:flex;
    font-size: 16px;
    margin: 25px 0 0 40px;
}
.tab1 div {
    width:66px;
    height:40px;
    border-radius:10px;
    background-color:#ffff;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    text-align:center;
    line-height:40px;
        margin-left: 39px;
    
}
.tab1 div.on {
     background-color:#ffffff;
    color: rgba(0,161,227,1);
    border-bottom: 3px solid;
    width: 65px;
}
.underline{
	width:843px;
height:1px;
background:rgba(238,238,238,1);
    margin: 0 auto;
}
.header-list {
    list-style:none
}
.header-list li {
    float:left;
        margin: 0 20px;
    line-height:43px
}
.header-list li:hover {
    background:#979696;
}
.header-list li a:hover {
    color:#000
}
.header-list li a {
    text-decoration:none;
    color:#CCCCCC;
    padding:0 10px;
    display:block
}
.box{
	margin-top:39px;
}
.input {
    width:662px;
    height:34px;
    float:left;
    border:none;
    border:1px solid #b7b7b7;
    margin-left:20px;
    text-indent:2em;
    outline:none;
    border-radius:5px
}
.inputBox {
    width:800px;
    margin:0 auto;
    overflow:hidden
}
.inputBox~.inputBox {
    margin-top:20px
}
.just {
    width:70px;
    height:30px;
    display:block;
    float:left;
    text-align:justify;
    text-align-last:justify;
    line-height:35px;
    position:relative
}
.just:before {
    content:":";
    position:absolute;
    right:-10px
}
.submit {
    width:106px;
height:44px;
background:rgba(0,163,222,1);
border-radius:10px;
    border:none;
    display:block;
    margin:0 auto;
    font-size:17px;
    margin-top:40px;
        color: white;
}
.submit:hover {
    background:rgb(88, 193, 231)
}