
 * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
}

header {
    color: #fff;
    text-align: left;
    min-height: 60px;
    margin-bottom: 60px;
}
header a {
    font-size: 18px;
    margin-left: 20px;
}
.headline{
font-size:30px;
font-weight:bold;
color:rgba(51,51,51,1);
text-align: center;
    padding-top: 59px;

}
.copyright {
    font-size: 25px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin: 100px 0;
}
.copyright a {
    color: #fff;
}
.pb30 {
    padding-bottom: 30px;
}
.fl {
    float: left
}
.fr {
    float: right
}
.ease {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Backend Panel Start */
 .clear-backend {
    width:990px;
    height: 500px;
    position: relative;
   background:#fff;
   margin:40px auto;
}
.avatar {s
    width: 200px;
    height: 200px;
}
.avatar div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 25px;
    left: 25px;
}
.avatar div img {
    width: 100%;
    height: auto;
}
.clear-backend > input {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}
.clear-backend > input:hover {
    cursor: pointer;
}
.clear-backend > input:hover + span, .clear-backend > input:checked + span {
    font-size: 16px;
    color:rgba(0,163,222,1);
        border-bottom: 3px solid;
    padding-bottom: 15px;
}
.clear-backend > i {
    position: absolute;
    margin-top: -40px;
    padding: 0 20px;
    font-size: 20px;
}

.block {
    border: none;
    outline: none;
    background: transparent;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
.clear-backend > input, .clear-backend > span {
    background:#fff;
    color: black;
    display: block;
    width: 64px;
    text-align: center;
    font-size: 16px;
    float: left;
    font-weight: bold;
    margin-top: 25px;
}
.underLine{
	width:719px;
	height:1px;
	background:rgba(238,238,238,1);
	    margin: -60px auto 30px;
}
span img {
    width: 23px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 9px;
}
.tab-content {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    overflow: hidden;
}
.tab-content section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
}
.clear-backend > input.tab-1:checked ~ .tab-content .tab-item-1 {
    display: block;
}
.clear-backend > input.tab-2:checked ~ .tab-content .tab-item-2 {
    display: block;
}
/* Responsive */
 @media screen and (max-width: 1367px) {
}
@media screen and (max-width: 1281px) {
}
@media screen and (max-width: 1025px) {
}
@media only screen and (max-width: 961px) {
}
@media only screen and (max-width: 641px) {
    .avatar, .clear-backend > input, .clear-backend > span {
        width: 60px;
        height: 60px;
    }
    .clear-backend > span {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    .avatar div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 5px;
        left: 5px;
    }
    .top-bar, .tab-content {
        width: calc(100% - 60px);
    }
}
@media only screen and (max-width: 481px) {
}
* {
    font-size:15px;
    margin:0;
    padding:0;
    color:#092436;
    list-style:none;
}
img, table, tr, td {
    border:none;
   
}

.clear {
    clear:both;
}
.hide {
    display:none;
}
body {
    background:#eeeeee;
    background-size: cover
}
.content .c_box {
    position:relative;
    background:#e6f0f5;
}
.content .nobg {
    background:#fff;
}
.c_box .left {
    position:absolute;
    left:0;
    top:0;
    _left:-145px;
}
.c_box .left img {
    margin:20px 0 0 43px;
}
.left h1 {
    font-size:33px;
    font-weight:900;
    line-height:34px;
    padding-left:230px;
}
.c_box .left a {
    color:#166ba9;
    line-height:30px;
}
.c_box .right {
    background:#fff;
    line-height: 50px;
}
.c_box .right input {
    height:18px;
    padding:0;
    margin:0;
}
.c_box .right select {
    margin-right:13px;
}
.c_box .right .w_1 {
    width:161px;
    overflow:auto;
}
.c_box .right .w_90 {
    width:100px;
}
.c_box .right .w_65 {
    width:65px;
}
.c_box .right .w_198 {
    width:198px;
}
.c_box .right .w_192 {
    width:192px;
}
.edit .ipt1_box {
    background:blue no-repeat 0 0;
    _padding-left:6px;
}
.edit .ipt2_box {
    background:url(http://id3.idqqimg.com/id/images/ipt_bg_2.png) no-repeat 0 0;
    _padding-left:6px;
}
.c_box .right .ipt1 {
    background:transparent;
    border-radius:5px;
    width:662px;
    height:44px;
    line-height:24px;
    padding:0 6px;
    padding:10px;
    border: 1px solid #999999;
}
.c_box .right .ipt2 {
    background:none;
    width:456px;
    height:34px;
    line-height:24px;
    border:none;
    padding:0 6px;
    _padding:0;
}
.c_box .right h1 {
    background:#0099cc;
    font-weight:normal;
    width: 145px;
    height: 44px;
    font-size:14px;
        border-radius: 10px;
margin-top: 20px;
    margin-left: 707px;
            color:#fff; 
                text-align: center;
}
.c_box .right h1 span {
    cursor:pointer;
        color: #fdfeff;
    display:inline-block;
    margin:0 auto;
}
.icon_box {
    padding-left:90px;
    height:25px;
    overflow:hidden;
}
.icon_box ul {
    height:25px;
    float:left;
}
.icon_box ul li {
    float:left;
    width:19px;
    height:25px;
    overflow:hidden;
    padding:0 2px;
}
.icon_box .scroll_left, .icon_box .scroll_right {
    display:block;
    margin:5px 5px 0 0;
    float:left;
}
.icon_box span {
    display:block;
    float:left;
    line-height:19px;
    cursor:pointer;
}
#qq_age {
    width:65px;
}
.c_box .right tr.even td {
   border:1px solide;
}
.c_box .right td {
    height:30px;
}

.c_box .right td.hover {
    background-position:0 center;
}
.c_box .right td.focus {
    background-position:0 center;
}
.c_box .right td.tdName {
    width:80px;
    padding-left:31px;
    font-size:14px;
font-weight:400;
color:rgba(51,51,51,1);
    
}
.c_box .right td.tdName1 {
    width:74px;
    padding-left:31px;
}
.c_box .right td.td2 {
    padding-left:6px;
}
.c_box .right td.privacy {
    width:140px;
    padding-left:10px;
}
.c_box .right td div.infoEx {
    width:470px;
    overflow:hidden;
}
.c_box .edit td div.infoEx {
    background:url(http://id3.idqqimg.com/id/images/area_bg_1.png) no-repeat 0 8px;
    padding:6px 0;
}
.c_box .right td input {
    padding:0 2px;
}
.c_box .right td input.nick {
    border:none;
    width:146px;
    padding:0;
    padding:0 5px;
    line-height:24px;
    height:24px;
    background:url(http://id3.idqqimg.com/id/images/nick_bg.png) no-repeat 0 -24px;
    position:relative;
    left:-5px;
}
.span_empty {
    color:#f00;
    position:relative;
    top:-3px;
}
.c_box .right td input.personality {
    border:none;
    width:633px;
    padding:0;
    padding:0 5px;
    line-height:24px;
    height:24px;
    background:url(http://id3.idqqimg.com/id/images/gxqm_bg.png) no-repeat 0 -24px;
    position:relative;
    left:-5px;
}
.c_box .right td input.hover {
    background-position:0 0;
    cursor:auto;
}
.c_box .right td input.focus {
    background-position:0 0;
    cursor:auto;
}
.c_box .right td.privacy div.click {
    z-index:1;
}
.c_box .right td.privacy div span.hover {
    background:url(http://id3.idqqimg.com/id/images/select.png);
    width:102px;
    height:24px;
    background:url(http://id3.idqqimg.com/id/images/select.png);
}
.c_box .right td.privacy div ul {
    display:none;
    width:105px;
    position:absolute;
    top:24px;
    left:0;
    border:solid 1px #bbd7ff;
    background:#fff;
}
.c_box .right td.privacy div ul.ulTop {
    top:-74px;
}
.c_box .right td.privacy div ul li {
    padding-left:5px;
    cursor:default;
    height:24px;
    line-height:24px;
}
.c_box .right td.privacy div ul li.hover {
    background:#cde6fa;
    color:#092437;
}
.c_box .right td.privacy div.click ul {
    display:block;
}
.c_box .right td div select {
    display:none;
}
.c_box .right td div input {
    display:none;
}
.c_box .right td div textarea {
    display:none;
    height:5em;
    width:464px;
    border:none;
    margin-left:2px;
    margin-top:8px;
    background:none;
    overflow-y:auto;
    overflow-x:hidden;
}
.c_box .edit h1 span {
    background:url(http://id3.idqqimg.com/id/images/edit_2.jpg) no-repeat 0 center;
    cursor:auto;
    color:#7ab0d6;
}
.c_box .edit table tr td div span {
    display:none;
}
.c_box .edit table tr td div select {
    display:inline-block;
}
.c_box .edit table tr td.privacy div span {
    display:inline-block;
}
.c_box .edit table tr td.privacy div select {
    display:none;
}
.c_box .edit table tr td div input {
    display:inline-block;
}
.c_box .edit table tr td div textarea {
    display:inline-block;
}
.c_box .btnBox input {
 width:106px;
height:44px;
background:rgba(0,163,222,1);
border-radius:10px;
    cursor:pointer;
    padding-top:2px;
    color:#ffffff;
}
.c_box .btnBox input.btnCancel {
    background-position:right 0;
}
#introSpan {
    padding-right:20px;
    display:inline-block;
    margin:5px 0;
}
.c_box .edit #introSpan {
    display:none;
}
.c_box .right .tips {
    display:none;
    color:#999;
}
.table_font{
	width:724px;
	    width: 724px;
    height: 300px;
    border: 1px solid rgb(167, 161, 161);
    margin: 0 auto;
    border-radius: 10px;
}

.pop_box {
    width:440px;
    height:333px;
    height:auto;
    border:solid 1px #cbe1f3;
    z-index:5;
    display:none;
    position:absolute;
    z-index:7;
    background:#fff;
}
.pop_box .close {
    position:absolute;
    right:6px;
    top:6px;
    cursor:pointer;
}
.pop_box h4 {
    background:url(http://id3.idqqimg.com/id/img/tips_title.png) 0 0 repeat;
    height:30px;
    line-height:30px;
    margin-bottom:10px;
    padding-left:10px;
    font-weight:normal;
}
.pop_box ul {
    width:400px;
    overflow:auto;
    margin:0 auto;
}
.pop_box ul li {
    width:200px;
    overflow:hidden;
    float:left;
    height:21px;
}
.pop_box ul li span {
    padding-left:3px;
    display:inline-block;
    line-height:21px;
    white-space:nowrap;
}
.pop_box .btn_box {
    background:#bdd0de;
    text-align:right;
    margin-top:10px;
    padding:5px 0;
}
.pop_box .btn_box {
    background:#f8fafc;
    text-align:right;
    margin-top:10px;
    padding:5px 0;
}
.pop_box .btn_box a {
    margin-right:10px;
    cursor:pointer;
    display:inline-block;
    height:22px;
    width:49px;
    line-height:22px;
    text-align:center;
    background:url(http://id3.idqqimg.com/id/img/alert_btn.png) 0 0 no-repeat;
}
.wait {
    z-index:5;
    display:none;
    position:absolute;
    z-index:7;
}
.alert {
    width:349px;
    height:120px;
    border:solid 1px #cbe1f3;
    z-index:10;
    position:absolute;
    background:#fff;
    display:none;
}
.alert .close {
    position:absolute;
    right:6px;
    top:6px;
    cursor:pointer;
}
.alert h4 {
    background:url(http://id3.idqqimg.com/id/img/tips_title.png) 0 0 repeat;
    height:30px;
    line-height:30px;
    margin-bottom:10px;
    padding-left:10px;
    font-weight:normal;
}
.alert p {
    position:absolute;
    left:58px;
    top:53px;
}
.alert .btn a {
    position:absolute;
    right:10px;
    bottom:8px;
    background:url(http://id3.idqqimg.com/id/img/alert_btn.png) 0 0 no-repeat;
    width:49px;
    cursor:pointer;
    line-height:22px;
    height:22px;
    text-align:center;
}
.alert .btn a:hover {
    background:url(http://id3.idqqimg.com/id/img/alert_btn_mouseup.png) 0 0 no-repeat;
}
.alert .btn a:active {
    background:url(http://id3.idqqimg.com/id/img/alert_btn_mousedown.png) 0 0 no-repeat;
}
#alertimg {
    position:absolute;
    left:10px;
    top:42px;
}
.intro_err {
    display:inline-block;
    padding-top:10px;
    color:#f00;
}
#map {
    background:url(http://id3.idqqimg.com/id/img/map.png) no-repeat 0 0;
    height:532px;
    width:722px;
    display:none;
    z-index:4;
    position:absolute;
    left:168px;
    top:100px;
}
.c_box table tr td div span.detailAddrSpan {
    max-width:196px;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}
.c_box .edit table tr td div span.detailAddrSpan {
    max-width:196px;
    display:none;
    overflow:hidden;
    white-space:nowrap;
}
/* CSS Document */
/*鍒嗛〉*/
#pageGro{ width:400px; height:25px; margin:0px auto; padding-top:30px;}
#pageGro div,#pageGro div ul li{ font-size:12px; color:#999; line-height:23px; float:left; margin-left:5px;}
#pageGro div ul li{ width:22px; text-align:center; border:1px solid #999; cursor:pointer;}
#pageGro div ul li.on{ color:#fff; background:#3c90d9; border:1px solid #3c90d9;}
#pageGro .pageUp,#pageGro .pageDown{ width:63px; border:1px solid #999; cursor:pointer;}
#pageGro .pageUp{ text-indent:23px; background:url(../images/pageUp.png) 5px 7px no-repeat;}
#pageGro .pageDown{ text-indent:-10px; background:url(../images/pageDown.png) 46px 6px no-repeat;}





