

.header-list {
    list-style:none
}
.header-list li {
    float:left;
    line-height:60px;
        margin: 0 20px;
    line-height:43px
}
.header-list li:hover {
    background:#fff
}
.header-list li a:hover {
    color:#000
}
.header-list li a {
    text-decoration:none;
    color:#fff;
    padding:0 10px;
    display:block
}
header {
    height:60px;
    min-width:1200px;
    font-size:16px;
    position:absolute;
}
.w1200, header {
    width:100%;
    margin:0 auto;
}

.w1200 {
    height:100%;
    padding:0 20px
}
.clear {
    clear:both
}
.top {
    width:1210px;
    margin:20px auto;
    overflow:hidden
}

.col-md-5, .col-md-12 {
    float:inherit
}
.col-md-5 {
    background: #000000ab;
    width: 100%;
    height: 427px;
    box-shadow:1px 1px 1000px 1000px rgba(0, 0, 0, .2), 0 0 20px 4px rgba(0, 0, 0, .2);
    transition:all .5s;
    cursor:hand;
    border-radius: 10px;
}
.col-md-5:hover {
    box-shadow:1px 1px 1000px 1000px rgba(0, 0, 0, .5), 0 0 20px 4px rgba(0, 0, 0, .4)
}
.form-control {

    padding:10px;
        border: 1px solid #948d8d;
    font-size:15px;
    text-align:left
   
}
.carousel-inner .item img {
    width:100%;
    height:300px;
    padding-left: 103px
}
#DFFF {
    margin-top:58px;
    padding-top:32px;
        text-align: center;
    
}

#SubmitButton {
    border-style:none;
    outline:none;
       height: 52px;
    width: 120px;
    font-size: 18px;
 
    color:white;
    border-radius:10px;
    background:#0099cc;
    cursor:pointer;
   
}
#inputPassword3, #username {
        width: 332px;
    height: 52px;
    border-radius: 10px;
    display:inline-block
}
#username {
    background:url(../images/user2.png);
    background-repeat:no-repeat;
    background-size:33px;
    background-position:-1px;
        padding-left: 35px;
            color: white;
}
#inputPassword3 {
    background:url(../images/pass2.png);
    background-repeat:no-repeat;
    background-size:33px;
    background-position:-1px;
        padding-left: 35px;
            color: white;
}
#RegisterButton {
    margin-left:92px;
    border-style:none;
    outline:none;
       height: 52px;
    width: 120px;
    font-size: 18px;
   
    color:white;
    border-radius:10px;
    background: #000f24;
    border: 0.5px solid #a9a2a2;
    cursor:pointer;
}
#label1, #label2 {
    font-size:19px;
    width:19%;
    padding-right:0!important;
    color:#fff;
    text-align:left;
    float:left;
    margin-left:20px
}
input[type=checkbox] {
    width:15px;
    height:15px;
    background-color:#fff;
    -webkit-appearance:none;
    border:1px solid #c9c9c9;
    border-radius:2px;
    outline:none;
    margin-top:3px
}
input[type=checkbox]:checked {
    outline:none;
    background-image:url(../images/timg.png);
    background-size:100%;
    background-repeat:no-repeat
}
.foot {
    font-size:12px;
    line-height:22px;
    padding:5px 0;
    color:#fff;
    width:90%;
    margin:0 auto;
    text-align:center;
    border-top:1px solid #fff;
    margin-top:230px;
   
}

.bead {
    color:#fff;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.search {
    background-color:#fcfdef;
    padding:10px 200px 10px 0
}
.content {
    width:1210px;
    margin:0 auto
}
.news {
    border:1px solid #e7e7e7;
    height:auto;
    height:300px
}
.mynav {
    width:1210px;
    margin:0 auto
}
.myrow .col-md-10 div {
    border-bottom:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
    padding:0
}
.row p {
    margin:0
}
.myrow .yes-right-border {
    border-right:1px solid #e7e7e7
}
.myrow .no-left-border {
    border-left:0
}
#SubmitButton:hover {
    background:#0b84ad
}
#RegisterButton:hover {
    background:#544c46
}