body, html {
    margin:0;
    height:100%
}
* {
    box-sizing:border-box
}
body {
    background:#fff;
}
.help-x{
	 padding-top: 15px;
	width:662px;
border-bottom:1px solid rgb(165, 151, 151);
}
blockquote, body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin:0;
    padding:0
}
a {
    text-decoration:none;
    color:#08acee
}
button {
    outline:0
}
img {
    border:0
}
button, input, optgroup, select, textarea {
    margin:0;
    font:inherit;
    color:inherit;
    outline:none
}
.form-con{
	    width: 460px;
    height: 34px;
    border: 1px solid rgba(153,153,153,1);
    border-radius: 2px;
        padding-left: 10px;
}
li {
    list-style:none
}
a {
    color:#666
}
a:hover {
    color:#eee
}
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden
}
.change-content {
    margin-top:-5%
}
.change-main {
    margin:0 auto;
    width:1350px;
    height:980px;
    background: #ffffff;
    margin-top:-1%;
    border-radius:10px;
        padding:0 316px;
    padding-top: 45px;
}
.change-box {
    margin:44px 0 10px
}
.transition {
    transition:all .3s ease
}
.equipment{
	
    line-height: 10px;
}
legend{
	    border-bottom: 1px darkslategrey;
    text-align: center;
    width:100%;
        padding-top: 20px;
}
.change-box .change-cut .tab {
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:16px;
    border-radius:10px;
    position:relative;
    cursor:default;
    width:150px;
    float:left
}
.flex-rows {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-align:center;
    align-items:center
}
.change-box .change-cut ul {
    
    margin-left:0
}
.change-box .change-cut .tab.on {
    color:#0099cc;
}
.change-box .change-cut .tab.on:after {
 content:"";
    position:absolute;
    width:81px;
    height:0;
    border:2px solid;
    border-color:#0099cc;
    bottom:-18px;
    left:22%;
   
    transition:all .3s ease
}
.change-box .contents>.flex-row {
    -ms-flex-pack:justify;
    justify-content:space-between
}
.change-box .item:hover {
    box-shadow:0 4px 10px 0 rgba(0, 0, 0, .1)
}
.InformationSubmit {
    border-style:none;
    width:105px;
    height:44px;
    font-size:16px;
    color:#fff;
    outline:none;
    font-weight:700;
    background-color:#00a3de;
  

    border-radius:10px;
}
.InformationSubmit:hover {
    background:#0b80a9;
}

.footer {
    color:#fff;
    font-size:19px;
    font-weight:400;
    padding:0 10px;
    background:#212121
}
.footer pre {
    color:#fff;
    line-height:25px;
    background:none!important;
    border-style:none!important;
    background:red;
    height:46px;
    min-height:46px;
    height:auto;
    text-align:center;
    overflow:visible!important;
    font-size:16px
}
.foot {
    font-size:8px;
    line-height:14px;
    padding:5px 0;
    color:#908d8d;
    width:90%;
    margin:0 auto;
    text-align:center;
    border-top:1px solid #ada4a4;
}